div{
    width: 80%;
    /* background-color: black; */
}

.first{
    width: 50%;
}

h1{
    color: #3e10bdc4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-style: italic;
    text-align: center;
    text-decoration: underline double;
    text-shadow: 1px,2px,3px;
}

p{
    font-weight: 900;
    line-height: 18px;
    letter-spacing: 1px;
    word-spacing: 4px;
}
h3{
    text-align: center;
    
}